@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

@layer components {
    .shadowed-card {
        @apply rounded-lg shadow-xl;
    }

    .line {
        @apply h-px w-full bg-gray-400 my-4;
    }
}

.retail-banner {
    max-height: 300px;
    object-fit: cover;
}

@media (max-width: 640px) {
    .retail-banner {
        max-height: 250px;
    }
}

.fade-in {
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
}

.fade-out {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}
